# Ignore everything
*.*

# Include .tex files at any directory level
!**/*.tex

# Include README.md
!README.md

# Include gitignore
!.gitignore

# Include temporary images
!images/*

# Finally include an example CV
!CV.pdf

# Keep info.tex file ignored
info.tex